 <div style="text-align: center;">
   <h1>HELLO ANGULAR</h1>
 </div>
 <style>
  .GFG {
      background-color: white;
      border: 2px solid black;
      color: green;
      padding: 5px 10px;
      text-align: center;
      display: inline-block;
      font-size: 20px;
      margin: 10px 30px;
      cursor: pointer;
  }
</style>
 <nav>
   <a routerLink="/home" ><button class="GFG">
    HOME
</button></a>
   <a routerLink="/service"><button class="GFG">
    SERVICE
</button></a>
   <a routerLink="/aboutt"><button class="GFG">
    ABOUTT
</button></a>
   <a routerLink="/contact"><button class="GFG">
    CONTACT
</button></a>
  
 </nav>
 


<router-outlet></router-outlet>
